/* your styles go here */
/* Example site test */

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

table {
  width: 100%;
}

table caption {
  text-align: center;
}

table tr {
  border-top: solid 1px lightblue;
  border-bottom: solid 1px lightblue;
}

table th,
table td {
  padding: 1em;
  box-sizing: border-box;
}

table th {
  color: white;
  background-color: var(--primary-accent);
}

textarea.form-control {
  height: 14em;
}

#footer {
  margin-top: 3em;
}

.members,
.company {
  max-width: 768px;
  margin: 0 auto;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

section.post > div.row > div > p > img {
  width: 100%;
}

#post-content p,
#post-content li {
  font-size: 16px;
}

#post-content h1 ~ p,
#post-content h2 ~ p,
#post-content h3 ~ p,
#post-content h4 ~ p,
#post-content h5 ~ p,
#post-content h6 ~ p {
  padding: 0 .5em;
  line-height: 1.5em;
  box-sizing: border-box;
}

#post-content li {
  margin: .5em 0;
}

#post-content h2:not(:first-of-type),
#post-content h3:not(:first-of-type),
#post-content h4:not(:first-of-type),
#post-content h5:not(:first-of-type),
#post-content h6:not(:first-of-type) {
  margin-top: 2em;
}
